.category_item {
    width: 280px;
    border-radius: 0px 0px 40px 40px;
    background: #FFF;
    box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
    position: relative;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.category_item:hover {
    box-shadow: 7px 13px 14px 0px rgba(116, 177, 232, 0.24);
}

.category_item__content {
    position: relative;
}

.info_pet__container {
    position: absolute;
    left: 6px;
    bottom: 12px;
    z-index: 1;
}

.img_pet {
    width: 100%;
    position: relative;
    z-index: 0;
}

.info_pet__list {
    display: flex;
    gap: 4px;
}
.icon {
    width: 24px;
    height: 24px;
    color: #54ADFF;
}

.info_pet__item {
    display: flex;
    width: 80px;
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    background: #CCE4FB;

    color:  #111;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}

.text_container {
    margin: 20px 20px 24px 20px;
}

.title {
    margin-bottom: 20px;
    width: 231px;
    text-align: left;
    color: #111;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.button_more {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 248px;
    padding: 8px 28px;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background-color: #FFF;
    border: 2px solid #54ADFF;
    color: #54ADFF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button_more:hover {
    background-color: #54ADFF;
    color: #FFF;
}
.icon_button{
    fill: white;
    width: 24px;
    height: 24px;
}

.category_info__container {
    display: flex;
    position: absolute;
    top: 16px;
    z-index: 1;
}

.category_text{
    display: flex;
    padding: 11px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 0px;
    background-color:  #CCE4FB;

    color: #111;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.icon_box{
    cursor: pointer;
    margin-left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #CCE4FB;
    flex-shrink: 0;
    
}
.icon_box:hover .icon_hidden{
    display: block;
}
.icon_box:hover .icon {
    display: none;
}
.icon_box .icon_hidden{
   fill: #54ADFF;
   display: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    .category_item{
        width: 336px;
    }
    .icon_box{
        margin-left: 160px;
    }
    .info_pet__item{
        margin-left: 13px;
    }
}
@media screen and (min-width: 1280px){
    .category_item{
        width: 288px;
    }
}